$primary-color: #2947a9;
$secondary-color: #f9995d;
$neutral-50: #f6f8f7;
$neutral-100: #eff0ef;
$neutral-200: #c2c7d6;
$neutral-400: #858ead;
$neutral-600: #525b7a;
$neutral-800: #292e3d;
$neutral-900: #14171f;
$header-background-color: #001aff2b;
