@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Work Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: rgba(0, 26, 255, 0.168627451);
  padding: 11px 22px;
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: large;
  font-weight: bolder;
  color: #2947a9;
}
header nav .menu-icon {
  height: 30px;
  width: auto;
}
header nav .nav-items {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 22px 28px;
  list-style: none;
  color: #14171f;
  background-color: #eff0ef;
}
header nav .nav-items li:hover {
  color: #f9995d;
}
header nav .menu-icon:hover + .nav-items {
  display: block;
}

.hero .hero-text {
  min-height: 30vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url("/assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero .hero-text span {
  font-weight: 600;
  font-size: x-large;
  width: 80%;
}
.hero .feature-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2947a9;
  color: white;
  text-align: center;
  gap: 12px;
  padding-top: 18px;
}
.hero .feature-projects .heading {
  font-weight: bold;
}
.hero .feature-projects .content {
  font-size: large;
  margin-bottom: 20px;
}
.hero .feature-projects .buttons {
  display: flex;
  width: 100%;
}
.hero .feature-projects .buttons button {
  width: 50%;
  border: none;
  background-color: #292e3d;
  color: white;
  padding: 8px;
}
.hero .feature-projects .buttons button:first-child {
  border-right: white solid 2px;
}

.reputation-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.reputation-section .heading {
  font-weight: bold;
}
.reputation-section > .heading {
  font-size: x-large;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reputation-section .cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reputation-section .cards .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: #eff0ef solid 1.4px;
  padding: 24px;
  border-radius: 4px;
}
.reputation-section .cards .card img.logo {
  width: 28px;
  height: auto;
}
.reputation-section .cards .card .content {
  color: #858ead;
}

.about-section img {
  display: none;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
  background-color: #2947a9;
  color: white;
}
.about-us .heading {
  font-weight: bold;
  font-size: x-large;
}
.about-us .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-us button {
  padding: 12px;
  font-weight: bold;
  color: #2947a9;
}

.services {
  display: flex;
  flex-direction: column;
  background-color: #f6f8f7;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 24px;
}
.services .heading {
  font-weight: bold;
  font-size: x-large;
}
.services .cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 20px 60px;
  background-color: white;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  color: #2947a9;
  font-weight: bold;
}
.services .cards .card img.logo {
  width: 30px;
  height: auto;
}
.services .cards .card hr {
  width: 50%;
  height: 2px;
  color: #eff0ef;
}
.services .cards .card:nth-child(2n) {
  background-color: #2947a9;
  color: white;
}

.experience {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding: 32px;
}
.experience .right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.experience .right .heading {
  font-size: xx-large;
  font-weight: bold;
  color: #2947a9;
}
.experience .right .content {
  color: #525b7a;
}
.experience .right button {
  border: none;
  background-color: #2947a9;
  color: white;
  padding: 16px;
}
.experience .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.experience .left .card {
  padding: 12px;
  position: relative;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}
.experience .left .card .value {
  font-size: xx-large;
  font-weight: bold;
}
.experience .left .card .text {
  padding: 0px 8px;
  color: #525b7a;
  border-left: #f9995d solid 4px;
  margin-left: 8px;
}
.experience .left .card img.icon {
  width: 50px;
  height: auto;
  position: absolute;
}
.experience .left .card:nth-child(1) {
  position: relative;
  top: 15%;
  left: 15%;
}
.experience .left .card:nth-child(1) img.icon {
  top: -25%;
  left: -25%;
}
.experience .left .card:nth-child(2) {
  position: relative;
  top: -15%;
  left: -15%;
}
.experience .left .card:nth-child(2) img.icon {
  top: -25%;
  right: -25%;
}
.experience .left .card:nth-child(3) {
  position: relative;
  top: 15%;
  left: 15%;
}
.experience .left .card:nth-child(3) img.icon {
  top: 70%;
  right: -25%;
}
.experience .left .card:nth-child(4) {
  position: relative;
  top: -15%;
  left: -15%;
}
.experience .left .card:nth-child(4) img.icon {
  right: -25%;
  top: 25%;
}

.consultation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/consultation-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.consultation .left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.consultation .left .upper-text {
  font-size: x-large;
  font-weight: bold;
}
.consultation .right button {
  color: white;
  background-color: transparent;
  border: white solid 2px;
  padding: 16px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}
.projects .heading {
  font-size: x-large;
  font-weight: bold;
  color: #292e3d;
}
.projects .main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.projects .main .left {
  color: #c2c7d6;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.projects .main .left li {
  padding-left: 16px;
}
.projects .main .left li:first-child {
  color: #2947a9;
  border-left: #2947a9 solid 4px;
}
.projects .main .right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.projects .main .right .cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  font-size: small;
}
.projects .main .right .cards .card {
  background-color: #2947a9;
}
.projects .main .right .cards .card .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.projects .main .right .cards .card .content .name {
  font-weight: bold;
}
.projects .main .right .page-selector {
  display: flex;
  gap: 12px;
  align-items: center;
}
.projects .main .right .page-selector .pages {
  display: flex;
  gap: 6px;
}
.projects .main .right .page-selector .pages li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #eff0ef;
  border-radius: 100%;
}
.projects .main .right .page-selector .pages li:first-child {
  background-color: #2947a9;
}
.projects .main .right .page-selector button {
  flex: 1;
  border: none;
  background-color: #292e3d;
  color: white;
  padding: 10px;
  font-size: small;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: #f6f8f7;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 20px;
}
.contact .heading {
  font-weight: bold;
  font-size: large;
  color: #292e3d;
}
.contact .description {
  color: #292e3d;
  text-align: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.contact form div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact form input,
.contact form textarea {
  color: #858ead;
  border: #eff0ef solid 2px;
  padding: 8px;
  border-radius: 4px;
}
.contact form .group3 {
  align-self: normal;
}
.contact form .group3 textarea {
  min-height: 150px;
}
.contact form .group3 .info {
  font-size: smaller;
  color: #525b7a;
}
.contact form button {
  color: white;
  background-color: #2947a9;
  border: none;
  padding: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 32px;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: large;
  font-weight: bolder;
  color: #2947a9;
}
footer .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;
}
footer .left .label {
  color: #2947a9;
}
footer .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .right .label {
  color: #2947a9;
}
footer .right .subscribe {
  display: flex;
}
footer .right .subscribe input {
  border: none;
  border: #eff0ef solid 2px;
  padding: 8px 0px 8px 8px;
  color: #858ead;
}
footer .right .subscribe button {
  background-color: #f9995d;
  border: none;
  color: #ffffff;
}
footer .right .social .icons {
  margin-top: 8px;
  display: flex;
  gap: 16px;
}
footer .right .social .icons img {
  width: 30px;
  height: auto;
}

.copyright {
  padding: 24px;
  background-color: #2947a9;
  color: #ffffff;
}

@media (min-width: 768px) {
  header nav {
    padding: 0px 112px;
  }
  header nav .logo {
    gap: 24px;
    font-size: 30px;
  }
  header nav .logo img {
    width: 38px;
  }
  header nav .menu-icon {
    display: none;
  }
  header nav .nav-items {
    position: static;
    display: flex;
    flex-direction: row;
    top: 0;
    background: none;
    gap: 50px;
    font-size: 18px;
    font-weight: 400;
  }
  .hero {
    position: relative;
  }
  .hero .hero-text {
    min-height: 648px;
    padding: 0px 112px;
    justify-content: flex-start;
  }
  .hero .hero-text span {
    font-size: 72px;
    width: 45%;
  }
  .hero .feature-projects {
    width: 416px;
    height: 190px;
    position: absolute;
    right: 112px;
    bottom: 0;
    gap: 20px;
    padding-top: 26px;
  }
  .hero .feature-projects .heading {
    font-size: 20px;
  }
  .hero .feature-projects .content {
    margin: 0px 52px;
    font-size: 24px;
    font-weight: 400;
  }
  .hero .feature-projects button {
    font-size: 18px;
    font-weight: 400;
  }
  .reputation-section {
    gap: 50px;
    padding: 60px 216px;
  }
  .reputation-section > .heading {
    font-size: 36px;
    font-weight: bold;
  }
  .reputation-section .cards {
    display: grid;
    gap: 66px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .reputation-section .cards .card {
    gap: 18px;
    padding: 20px 20px 40px 20px;
  }
  .reputation-section .cards .card img.logo {
    width: 37px;
    height: auto;
  }
  .reputation-section .cards .card .heading {
    font-size: 20px;
  }
  .about-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 75px 112px;
  }
  .about-section img {
    display: block;
    width: 75%;
    height: auto;
  }
  .about-section .about-us {
    position: absolute;
    width: 33%;
    padding: 50px 60px 60px 40px;
    right: 112px;
  }
  .about-section .about-us .heading {
    font-size: 36px;
  }
  .about-section .about-us .content {
    font-size: 20px;
  }
  .about-section .about-us button {
    width: 60%;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    margin-top: 37px;
    padding: 16px 20px;
  }
  .services {
    padding: 44px 216px 76px 216px;
    gap: 36px;
  }
  .services .heading {
    font-size: 36px;
  }
  .services .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 98px;
    row-gap: 48px;
  }
  .services .cards .card {
    padding: 38px 72px;
  }
  .services .cards .card img.logo {
    height: 40px;
    width: auto;
  }
  .services .cards .card .content {
    font-size: 20px;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .services .cards .card hr {
    width: 60px;
    height: 2px;
  }
  .experience {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 160px;
    padding: 200px 120px;
  }
  .experience .left .card {
    padding: 30px;
    gap: 90px;
  }
  .experience .left .card .value {
    font-size: 72px;
    font-weight: 600;
  }
  .experience .left .card .text {
    padding-left: 12px;
    font-size: 24px;
  }
  .experience .left .card img.icon {
    width: 98px;
  }
  .experience .left .card:nth-child(1) {
    position: relative;
    top: 15%;
    left: 15%;
  }
  .experience .left .card:nth-child(1) img.icon {
    top: -10%;
    left: -15%;
  }
  .experience .left .card:nth-child(2) {
    position: relative;
    top: -50%;
    left: -15%;
  }
  .experience .left .card:nth-child(2) img.icon {
    top: -10%;
    right: -10%;
  }
  .experience .left .card:nth-child(3) {
    position: relative;
    top: 40%;
    left: 25%;
  }
  .experience .left .card:nth-child(3) img.icon {
    bottom: 0;
    right: -10%;
  }
  .experience .left .card:nth-child(4) {
    position: relative;
    top: -15%;
    left: -30%;
  }
  .experience .left .card:nth-child(4) img.icon {
    right: -10%;
    top: 0%;
  }
  .experience .right {
    gap: 50px;
  }
  .experience .right .heading {
    font-size: 60px;
  }
  .experience .right .content {
    font-size: 20px;
  }
  .experience .right button {
    font-size: 18px;
    width: 50%;
    font-weight: 600;
  }
  .consultation {
    flex-direction: row;
    justify-content: space-between;
    padding: 112px;
  }
  .consultation .left {
    gap: 30px;
  }
  .consultation .left .upper-text {
    font-size: 36px;
  }
  .consultation .left .lower-text {
    font-size: 24px;
  }
  .consultation .right button {
    font-size: 18px;
    font-weight: 600;
  }
  .projects {
    padding: 88px 112px 138px 112px;
  }
  .projects .heading {
    font-size: 36px;
  }
  .projects .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .projects .main .left {
    font-size: 24px;
  }
  .projects .main .left li {
    padding-left: 16px;
    border-width: 4px;
    font-weight: 500;
  }
  .projects .main .right .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects .main .right .cards .card img {
    width: 384px;
    height: auto;
  }
  .projects .main .right .cards .card .content {
    padding: 12px 16px;
    gap: 12px;
  }
  .projects .main .right .cards .card .content .name {
    font-size: 20px;
    font-weight: 700px;
  }
  .projects .main .right .cards .card .content .address {
    font-size: 18px;
  }
  .projects .main .right .page-selector {
    gap: 33px;
  }
  .projects .main .right .page-selector .pages {
    gap: 16px;
  }
  .projects .main .right .page-selector .pages li {
    width: 16px;
    height: 16px;
  }
  .projects .main .right .page-selector button {
    padding: 21px 108px;
    font-size: 18px;
  }
  .contact {
    gap: 30px;
    padding: 60px 0px;
  }
  .contact .heading {
    font-size: 36px;
  }
  .contact .description {
    font-size: 20px;
    width: 40%;
  }
  .contact .contact-form {
    width: 45%;
    gap: 20px;
    align-items: center;
  }
  .contact .contact-form input,
  .contact .contact-form textarea {
    padding: 10px 8px;
    font-size: 18px;
    flex: 1;
  }
  .contact .contact-form textarea {
    align-self: normal;
  }
  .contact .contact-form .group1,
  .contact .contact-form .group2 {
    flex-direction: row;
    width: 100%;
    gap: 32px;
  }
  .contact .contact-form .group3 .info {
    font-size: 16px;
  }
  .contact .contact-form button {
    padding: 16px 104px;
    font-size: 18px;
    font-weight: 600;
  }
  footer {
    padding: 85px 112px;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .label {
    font-size: 20px;
    font-weight: 500;
  }
  footer .left {
    grid-template-columns: auto 1fr;
    justify-items: start;
    row-gap: 32px;
    column-gap: 13px;
  }
  footer .left .logo {
    grid-column: 1/span 2;
    gap: 14px;
    font-size: 30px;
    align-self: flex-start;
  }
  footer .left .logo img {
    width: 38px;
  }
  footer .left .value {
    font-size: 20px;
  }
  footer .right {
    gap: 42px;
  }
  footer .right .newsletter,
  footer .right .social {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .right .newsletter .subscribe {
    gap: 8px;
  }
  footer .right .newsletter .subscribe input {
    font-size: 18px;
    padding: 10px;
    width: 280px;
  }
  footer .right .newsletter .subscribe button {
    font-size: 18px;
    padding: 10px 24px;
  }
  footer .right .social .icons {
    gap: 20px;
  }
  footer .right .social .icons img {
    width: 40px;
  }
  .copyright {
    padding: 28px 112px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
